.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.qr-scanner-container video,
.qr-scanner-container canvas {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
  object-fit: contain !important;
  position: static !important;
  top: 0; left: 0;
}

.qr-scanner-container {
  position: relative;
  background: #111;
  border-radius: 16px;
  overflow: hidden;
  width: 500px;
  height: 370px;
  z-index: 0;
}

.qr-scanner-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
